@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar styling for WebKit browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 8px;
  background-color: #191a1a; /* Scrollbar track background */
}

::-webkit-scrollbar-track {
  background-color: #191a1a; /* Scrollbar track background */
}

::-webkit-scrollbar-thumb {
  background-color: #4a4a4a; /* Scrollbar thumb color */
  border-radius: 4px;
}

/* Firefox scrollbar styling */
* {
  scrollbar-width: thin;
  scrollbar-color: #4a4a4a #191a1a; /* thumb and track */
}
